*{box-sizing: border-box;}
#root{
  border: 2px solid black;
  margin: 5em 20em 5em 20em;
  
}
#root:after{
  content: "";
  display: table;
  clear: both;
}
#aside{
  float: left;
  width: 30%;
  
  
}
main{
  float: left;
  width: 70%;
  border: 2px solid black;
}
button {
  display: none;
}
  div:hover button{
  display: block;
  position: absolute;
}
div{
  border: 2px solid black;
  padding: 5px 5px 5px 5px 5px; 
}
#resume > *{
  background: border-box lightgoldenrodyellow;
  box-shadow: 0 0 0 2em lightgoldenrodyellow;
  
}
.App{
  display: table;
  width: 100%;
}
.App>*{
  display: table-cell;
}